* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.form {
    max-width: 90%;
    width: 400px;
    margin: 50px auto;
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: opacity 0.8s ease-in-out; /* Transición más suave */
}

.form h3 {
    text-align: center;
    font-weight: bold;
    color: #00796b;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container label {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

.input-container input {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #218838;
}

.registrarse {
    margin-top: 30px;
    text-align: center;
}

.registrarse p {
    font-size: 14px;
    color: #666;
}

.registrarse .btn {
    margin-top: 10px;
    padding: 8px 20px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

.registrarse .btn:hover {
    background-color: #0069d9;
}

/* Nuevas clases para controlar la visibilidad */
.hidden {
    opacity: 0; /* Componente oculto */
    visibility: hidden; /* Evita que ocupe espacio */
}

.fade-in {
    opacity: 1; /* Componente visible */
    visibility: visible; /* Permite que ocupe espacio */
}

@media (max-width: 600px) {
    .form {
        width: 95%;
        padding: 20px;
    }

    .input-container input, .input-container button {
        font-size: 14px;
        padding: 8px;
    }
}
