

/*Sección Registro (en InfoLanding) */
.section-formulario-registro {
    font-family: 'Open Sans', sans-serif;
    /* background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%); */

    color: #fff;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
    
    background-image: url(../../uttils/registrarse-up.svg);
    background-position:x 70px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    margin-top: 10rem;
    

    
}

.img-registro-up {
    /* max-width: 500px; */
    margin-top: 3rem;
}

/* Formulario general */
.formulario-registro {
    background: #fafafa10;
    backdrop-filter: blur(0.4rem); 

    opacity: 0.9;
    margin: 100px; /* Ajuste de margen */
    width: 35%; /* Mantener el ancho como en el formulario viejo */
    padding: 40px; /* Padding ajustado igual al viejo */
    border-radius: 10px; /* Aumentamos el border-radius para bordes más redondeados */
    box-shadow: 1px 1px 8px rgba(139, 137, 137, 0.565); /* Sombra más suave */
    border: 2px solid #fafafa10;
    text-align: center;
    background-color: rgba(132, 132, 133, 0.756); /* Fondo oscuro */
    height: auto; /* Dejar la altura automática para que no se vea afectada */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Cambié esto para que no haya un espacio innecesario al final */
}


/* Título del formulario */
.formulario-registrarse-title {
    font-size: 2.2rem;
    margin-bottom: 1.5rem; /* Espacio debajo del título */
    font-weight: 600;
    letter-spacing: 1px;
}

/* Contenedor de los inputs */
.formulario-contenedor {
    margin-top: 2rem;
    display: grid;
    gap: 2rem; /* Aumento de espacio entre inputs */
}

/* Estilos de los inputs */
.form-input-group {
    position: relative;
    color: #fff;
    border-radius: 5px;
}

.form-control {
    width: 100%;
    background: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 12px 20px; /* Espaciado ajustado */
    margin-bottom: 1.5rem; /* Espacio mayor entre los inputs */
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    transition: background-color 0.8s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    border-radius: 12px; /* Bordes más redondeados */
}

/* Estilo para el mensaje de error */
.mensaje-error {
    color: #ff6b6b;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    visibility: hidden; /* Ocultar mensaje por defecto */
}

/* Hacemos visible el mensaje de error solo cuando es necesario */
.form-input-group.has-error .mensaje-error {
    visibility: visible;
}

/* Estilo del botón registrarse */
.button-registrarse {
    text-decoration: none;
    color: #fff;
    padding: 12px 20px;
    border: 1px solid;
    border-radius: 12px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #092d6f;
    border: none;
    margin-top: 2rem;
    width: 100%;
}

.button-registrarse:hover {
    background-color: #fdfeff;
    color: black;
    border: 1px solid #fdfeff;
    transition: background-color 0.5s ease-in-out;
}


.wave-registrarse-end {
    /* position: absolute;
    bottom: 0;
    left: 0; */
    align-self: end;
}

/* Ajustes responsivos para pantallas pequeñas */
/* Ajustes responsivos para pantallas pequeñas */
@media (max-width: 800px) {
    .section-formulario-registro{
        width: 90%;
        padding-top: 2rem;
    }
    .formulario-registro {
        width: 80%; /* El formulario ocupará más espacio en pantallas pequeñas */
    }

    .formulario .input-group {
        flex-direction: column; /* En pantallas pequeñas, los elementos se apilan verticalmente */
    }

    .formulario .input-group label {
        width: 100%; /* El label ocupará todo el ancho */
        text-align: left; /* Los labels se alinean a la izquierda en pantallas pequeñas */
        margin-right: 0; /* El margen a la derecha se elimina */
        margin-bottom: 10px; /* Espacio adicional entre el label y el input */
    }

    .formulario .input-group input {
        width: 100%; /* El input ocupará todo el ancho disponible */
    }

    .button-registrarse {
        width: 100%; /* Los botones ocuparán todo el ancho */
    }
    .figure-registrarse-up {
        margin-top: 1rem; 
    }
    .img-registro-up {
        align-self: flex-end;
    }
    
}


