@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  /* margin-top: 88px; si ponemos navbar*/
}

.header-info-landing-page{
  font-family: 'Open Sans', sans-serif;

  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  color: #fff;

  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
  "nav"
  "informacion";

  min-height: 100vh;
}

.nav-info-landing-page {
  display: grid;
  grid-auto-flow: column;
  grid-area: nav;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  height: 90px; 
}

.list-info-landing-page {
  list-style: none;
  
}

.link-info-landing-page {
  color: #fff;
  text-decoration: none;
}

.link-info-landing-page:hover {
  transition: color 0.5s ease-in-out;
  color: #f0f2f6;
  font-size: 1.3rem;
  transition: 0.5s ease-in-out;
}

.item-info-landing-page {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}


.logo-info-landing-page {
  font-size: 1.5rem;
  font-weight: 300;
}

/* section-landing-page-conteiner */

.main-info-landing-page {
  grid-area: informacion;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;

  margin-top: 3rem;
  padding-bottom: 250px;
  align-items: center;
}

.title-info-landing-page {
  /* font-size: clamp(1rem, 4vw, 2rem); */
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.subtitle-info-landing-page {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  /* font-size: clamp(.8rem, 2vw, 1.2rem); */
  font-size: 1.2rem;
  font-weight: 300;
}

.cta-2-info-landing-page {
  cursor: pointer;
  background: transparent;
  text-decoration: none;
  color: #fff;
  padding: 1rem 3rem;
  border: 1px solid;
  border-radius: 5px;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1px;
}

.cta-2-info-landing-page:hover {
  background-color: #fff;
  color: #1e3c72;
  transition: background-color 0.5s ease-in-out;
}


.wave-info-landing-page {
  grid-area: informacion;
  align-self: end;
}


.figure-info-langing-page {
  width: 100%;
}

.img-info-landing-page {
  max-width: 500px;
}

/* Media Queries */

@media (max-width: 800px) {

  .main-info-landing-page {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    text-align: center;
  }

  .figure-info-langing-page {
    grid-row: 1/2;
    margin-top: 1rem;
  }
  .img-info-landing-page {
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }
}