label{
    color: rgb(197, 190, 190);
    font-weight: 600;
    letter-spacing: 1px;
}

select{
    cursor: pointer;
}
/* consultar a Santi por el div "content p-4 en arch bienvenida." */
.pacientes-form-container {
    background-color: #1e3c72; 
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: #111112 10px 14px 8px;
    min-height: 100vh;
}

.button-pacientes-form {
    text-align: right;
}

.button-agregar-paciente {
    cursor: pointer;
    background: transparent;
    text-decoration: none;
    color: #fff;
    padding: 1rem 3rem; /* Igualamos los botones con el mismo padding */
    border: 1px solid;
    border-radius: 5px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1rem; /* Establecemos el mismo tamaño de fuente */
    width: auto; /* Evitamos que el ancho se estire más de lo necesario */
    text-align: center; /* Asegura que el texto esté centrado */
}


.button-agregar-paciente:hover {
    background-color: #fff;
    color: #1e3c72;
    transition: background-color 0.5s ease-in-out;
}

@media (max-width: 768px) {
    .mb-3.row label {
    display: none;
    }
    .pacientes-form-container{
        padding: 1rem;
    }
}