

body {
  background-color:  #092d6f; 
  margin: 0;
  padding: 0;
}

ul {
    text-decoration: none;
  }
  .my-3:hover {
    background-color: #61276a;
  }
  
  /* SidebarMenu.css */  
  .dropdown-item:hover {  
    background-color: #61276a; /* Cambia el fondo a violeta */  
    color: white; /* Y el texto a blanco para contraste */  
  }  

  /* Asegura que todo el Sidebar tenga un fondo negro */
.bg-black {
  background-color: black !important;
  
}

.collapsed {  
  display: none; /* Ocultar el contenido del menú colapsado */  
}