

body {
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  margin: 0;
  padding: 0;
}

ul {
    text-decoration: none;
  }
  .my-3:hover {
    background-color: #240e92;
    border-radius: 5px;
  }
  

  .dropdown-menu, .dropdown-item {
    
    border-radius: 5px;
    background-color: rgb(37, 37, 39);
  }
  /* SidebarMenu.css */  
  .dropdown-item :hover {  
    border: 1px solid #6d6b6b;
    color: white; /* Y el texto a blanco para contraste */  
  }  

  /* Asegura que todo el Sidebar tenga un fondo negro */
.bg-black {
  background-color: black !important;
  
}

.collapsed {  
  display: none; /* Ocultar el contenido del menú colapsado */  
}




