/* Estilos para el header */
header {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.103);
    padding: 10px 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bienvenida-header p {
    margin: 0;
    font-size: 1.2em;
}

.hamburguesa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 30px;
    height: 24px;
}

.linea {
    height: 4px;
    background-color: black;
    width: 100%;
    margin: 2px 0;
}

/* Estilos para el menú lateral */
.side-menu {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    width: 150px;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li {
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;  /* Para posicionar el submenú a la derecha */
}

.side-menu ul li:hover {
    background-color: #f8f9fa;
}

/* Posiciona el submenú a la derecha del elemento padre */
.sub-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 100%;  /* Posiciona el submenú a la derecha */
    top: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-width: 150px;
}

.sub-menu li {
    padding: 10px;
    white-space: nowrap;  /* Evita que el texto se rompa en varias líneas */
}

.sub-menu li:hover {
    background-color: #e9ecef;
}

/* Estilos para la imagen de perfil y menú desplegable */
.imagen-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.menu-container {
    position: relative;
}

.menu-desplegable {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
}

.menu-desplegable a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #dc3545;
    font-weight: bold;
}

.menu-desplegable a:hover {
    background-color: #f8f9fa;
}
