/* Estilos para el header */
.bienvenida {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.103);
    padding: 10px 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

