.bienvenida {
    background-color: #343a40; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    width: 175vh; /* Usa el 100% del ancho de la pantalla menos el Sidebar */
    height: 100px; /* Altura ajustada */
    position: fixed; /* Fijo al lado derecho del Sidebar */
    top: 0;
    left: 250px; /* Pegado al borde derecho del Sidebar */
    display: flex;
    flex-direction: row; /* Alinear contenido en una fila */
    justify-content: flex-end; /* Alinear texto e icono al extremo derecho */
    align-items: center; /* Centrar contenido verticalmente */
    padding: 0 20px; /* Espaciado interno */
    margin: 0; /* Eliminar márgenes innecesarios */
    z-index: 1040; /* Por debajo del Sidebar si es necesario */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra */
    overflow: hidden; /* Asegura que no haya desbordes */
  }
  
  .bienvenida p {
    margin: 0;
    font-size: 1.2em; /* Tamaño del texto */
    margin-right: 10px; /* Espaciado entre texto e icono */
  }
  
  .bienvenida i {
    font-size: 3em; /* Tamaño más grande para el ícono */
    color: #fff; /* Color del ícono */
  }
  