<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spiners</title>
  <link rel="stylesheet" href="spinners.css">
</head>
<body>
  <h1 style="color: rgb(46, 55, 94);">Spinners Loaders:</h1>
  <hr>
  <br>
  <br>

  <h3 style="color: royalblue;">Ejemplo 1: Valen.</h3>

  <div class="loader__content">
    <div class="loader__uno"></div>
  </div>

  <br>
  <br>

  <h3 style="color: salmon;">Ejemplo 2: Ciro.</h3>

  <div class="loader__content">
    <div class="loader__dos"></div>
  </div>

  <br>
  <br>

  <h3 style="color: seagreen;">Ejemplo 3: Fran.</h3>

  <div class="loader__content">
    <div class="loader__tres"></div>
  </div>

  <br>
  <br>

  
  <h3 style="color: rgb(218, 152, 76);">Ejemplo 4.</h3>
  
  <div class="loader__content">
    <div class="loader__cuatro"></div>
  </div>

  <br>
  <br>
  
  <h3 style="color: rgb(112, 63, 103);">Ejemplo 5.  para loguin o no?!.</h3>

  <div class="loader__content">
    <div class="loader"></div>
  </div>


</body>
</html>