/* Spinner 1 */

/* HTML: <div class="loader"></div> */
.loader__content, h1, h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader__uno {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
}
.loader__uno:before {
  content:"Loading..."
}
@keyframes l2 {to{background-size: 100% 3px}}



/* Spinner 2 */

/* HTML: <div class="loader__dos"></div> */
.loader__dos__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader__dos {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background:linear-gradient(90deg,#000 50%,#0000 0) right/200% 100%;
  animation: l21 2s infinite linear;
}
.loader__dos::before {
  content :"Loading...";
  color: #0000;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(90deg,#fff 50%,#000 0);
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes l21{
  100%{background-position: left}
}

/* Spiner 3 */

/* HTML: <div class="loader"></div> */
.loader__tres {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 100% 0 0);
  animation: l5 2s steps(11) infinite;
}
.loader__tres:before {
  content:"Loading..."
}
@keyframes l5 {to{clip-path: inset(0 -1ch 0 0)}}



/* Spinner 4 */

/* HTML: <div class="loader__cinco"></div> */

.loader__cuatro {
  position: relative;
  width: 100px;
  height: 100px;
}

.loader__cuatro:before , .loader__cuatro:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.3) inset;
}
.loader__cuatro:after {
  box-shadow: 0 2px 0 #2a2928 inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}


/* Spinner: loguin */

/* HTML: <div class="loader__cuatro"></div> */

.loader {
  width: 84px;
  height: 84px;
  position: relative;
  overflow: hidden;
}
.loader:before , .loader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width:64px;
  height: 64px;
  border-radius: 50%;
  background:#2d2b2b;
  transform: translate(-50% , 100%)  scale(0);
  animation: push 2s infinite ease-in;
}
.loader:after {
animation-delay: 1s;
}
@keyframes push {
    0% {
      transform: translate(-50% , 100%)  scale(1);
    }
    15% , 25%{
      transform: translate(-50% , 50%)  scale(1);
    }
  50% , 75% {
      transform: translate(-50%, -30%) scale(0.5);
    }
  80%,  100% {
      transform: translate(-50%, -50%) scale(0);
    }
}
