.form-loguin-contenedor {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    color: #fff;
    display: flex;
    min-height: 100vh;
    padding-top: 6rem; 

    margin-top: 3rem;
    display: grid;
    gap: 1rem;
}

.form-loguin-title {
    font-size: 2rem;
    margin: 1rem 0 3rem 0;
    font-weight: 400;
    letter-spacing: 2px;
}

.formulario-loguin {
    margin: 0 auto;
    width: 90%;
    max-width: 400px;
    padding: 3rem 1.5rem;
    border-radius: 5px;
    box-shadow: 0 5px 10px -5px rgba(255, 255, 255, 0.3);
    border: 1px solid #dddbdb;
    text-align: center;
    
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.form-loguin-input-group {
    position: relative;
    color: #fff;
    /* margin-bottom: 1rem;
    padding: 2rem 1rem 1rem 1rem; */
}
.input-control-loguin {
    width: 100%;
    margin-bottom: 1rem;
    background: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 1rem 0.5rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.2);
}

.label-loguin {
    color: #fff;
    cursor: pointer; 
    position: absolute;
    top: 0; 
    left: 1rem;
    font-weight: 200;
    text-align: right;
    margin-right: 1rem; 

    transform: translateY(1.5rem);
    transition: transform 0.5s, color 0.3s;
}

input::placeholder {
    color: #cccbc9;
}


.form-control-loguin {
    width: 100%;
    background: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 1rem .5rem ;
    border: none; 
    outline: none;
    border-bottom: 1px solid #fff;
    transition: background-color 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}


.buton-loguin-iniciar-sesion {
    background: #2a5298;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}
.buton-loguin-iniciar-sesion:hover {
    background: #fff;
    color: #2a5298;
    font-weight: bold;
    transition: background-color 0.5s ease-in-out;
}

.registro-loguin {
    margin: 0 auto 14rem auto;
    width: 90%;
    max-width: 400px;
    padding: 3rem 1.5rem;
    border-radius: 5px;
    box-shadow: 0 5px 10px -5px rgba(255, 255, 255, 0.3);
    border: 1px solid #dddbdb;
    text-align: center;
    background-color: rgba(48, 50, 82, 0.5);
}
.button-registo-loguin {
    background: #2a5298;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}
.button-registo-loguin:hover {
    background: #fff;
    color: #2a5298;
    font-weight: bold;
    transition: background-color 0.5s ease-in-out;
}

.registro-loguin-text {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.wave-loguin {
    width: 100%;
    background-color: #fff;
    position: relative;
}
.wave-loguin-end {
    position: absolute;
    bottom: 0;
    left: 0;
}